.contact {

  display: flex;
  padding: 40px 0 0 0;
  background: $secondary-light;

  .contactTitle,
  .contactForm {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
  }

  .contactTitle {
    // background: $secondary;
    align-items: center;
    position: relative;

    
  }

  .contactTitle h2 {
    padding: 20px 0;
    

  }

  .contactTitle h2 span {
    position: relative;
    z-index: 10;

    &::before {

      content: "";
      width: 0; 
      height: 0; 
      border-top: 100px solid transparent;
      border-left: 100px solid $primary-light;
      position: absolute;
      transform: rotate(270deg);
      top: -40px;
      right: -10px;
      z-index: -10;
    }

    &::after {
      display: block;
      content: "";
      background-image: url(../assets/icons8-squiggly-line-100-dark-grey.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 65%;
      position: absolute;
      transform: rotate(45deg);
      bottom: -55px;
      right: -50px;
      width: 100px;
      height: 100px;
    }

  }

  .contactTitle .contactImgContainer {

    // position: relative;

  }

  

  .contactTitle img {
    border-radius: 50%;
    width: 30vw;
    height: 30vw;
    object-fit: cover;
    
  }

  .contactTitle p {
    text-align: center;
    padding: 60px 0 10px 0;
    font-weight: 700;
    font-size: 2.5rem;
  }

  .socialList {
    display: flex;
  }

  .socialList li {
    margin: 10px;
  }

  .socialList a {
    padding: 10px;
  }

  .socialList i {
    font-size: 3rem;
  }

  .contactForm {
    // background: $secondary;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  form .formContainer {
    margin: 10px auto;
  }

  form label {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  form .labelText {
    margin: 0 0 10px 0;
    color: $dark-grey;
    font-weight: 700;
  }

  form input {
    padding: 5px 50px;
    // border-radius: 4px;
    // border: none;
    // font-size: 2rem;
    // font-family: $main-font;
  }

  form input,
  form textarea {
    border-radius: 4px;
    border: solid 2px $primary-light;
    font-size: 2rem;
    font-family: $main-font;
    padding: 5px;

  }

  form button {
    background: $highlight;
    padding: 15px 40px;
    border-radius: 4px;
    border: none;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: $main-font;
    font-weight: 700;
  }
}