footer {
  background: $primary;
  display: flex;
  flex-direction: column;
  align-items: center;

  .personal p {
    font-size: 2rem;
  }

  .personal span {
    color: red;
    font-size: 3rem;
  }

  .thanks {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
  }

  .thanks h4 {
    font-size: 2.5rem;
    text-align: center;
  }

  .thanks p {
    padding: 5px;
  }

  .thanks a {
    text-decoration: underline;
  } 

}