* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: $main-font;
    background: $off-white;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: $heading-font;
    color: $dark-grey;
    font-weight: 700;
}

h2 {
    text-transform: uppercase;
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

img {
    width: 100%;
    display: block;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
    font-family: $main-font;
    
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 3vw;
}

// Animation discovered on this Stack Overflow thread
// https://stackoverflow.com/questions/23985018/simple-css-animation-loop-fading-in-out-loading-text
@keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}

.arrowContainer {
    text-align: center;
}

.arrowContainer i {
    color: $highlight;
    font-size: 2.5rem;
    animation: flickerAnimation 2s infinite;
}

.arrowContainer a:hover i,
.arrowContainer a:focus i {
    animation: flickerAnimation 0s 1;
}


