header {
  height: 100vh;
  background: $secondary;
 


  .mainNav {
    background: $primary;
    height: 10vh;
  }

  .mainNav ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mainNav li {
    padding: 0 20px;
  }

  .mainNav a {
    color: white;
    font-weight: 700;
    font-size: 2rem;

    &:hover {
      border-bottom: solid 5px $highlight;
    }
  }

  .headerSectionContainer {
    height: 85vh;
    display: flex;
     position: relative;
    overflow: hidden;
    
  }

  .name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 3vw;
  }

  .name h1 {
    color: $dark-grey;
    font-size: 6rem;
    text-transform: uppercase;
    letter-spacing: -1px;

  }

  .name p {
    font-weight: 700;
    color: $light-grey;
    font-size: 3rem;
  }

  .name, 
  .circles {
    flex: 1 1 50%;
    
  }

  .circles {
    
  }

  .circle {
    border-radius: 50%;
    
  }

  .circleOne {
    background: $primary;
    opacity: 0.5;
    width: 400px;
    height: 400px;
    z-index: 10;
    position: absolute;
    top: -70px;
    right: 280px;
  }

  .circleTwo,
  .circleThree {
    object-fit: cover;
  }

  .circleTwo {
    background: $primary;
    width: 600px;
    height: 600px;
    position: absolute;
    top: -90px;
    right: -130px;
    z-index: 40;
    filter: sepia(100%);
  }

  .circleThree {
    background: $primary;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 200px;
    right: 220px;
    z-index: 30;
    opacity: 0.9;
  }

  .headerArrowContainer {
    height: 5vh;
    text-align: center;
  }

  // // https://stackoverflow.com/questions/23985018/simple-css-animation-loop-fading-in-out-loading-text
  // @keyframes flickerAnimation {
  //   0%   { opacity:1; }
  //   50%  { opacity:0; }
  //   100% { opacity:1; }
  // }

  .arrowContainer {
    height: 5vh;
  }


}

