@media (max-width: 1080px) {
  header {

    .circleOne,
    .circleThree {
      top: -90px;
      right: -130px;
      width: 0px;
      height: 0px;
    }



  }


}

@media (max-width: 950px) {
  header {

    .circleTwo {
      width: 200px;
      height: 200px;
      top: 10px;
      right: 20px;
    }
  }

  .about {

    .circleContent {
      font-size: 1.6rem;
    }


  }
}

@media (max-width: 850px) {


  .about {

    

    .aboutContainer {
      flex-direction: column;
      align-items: stretch;
    }

    .aboutLeft {
      padding: 50px 0 10px 0;
    }

    .aboutImageContainer {
      width: 40vw;
    }

    .circleContent {
      font-size: 2rem;
    }
  }

  .portfolio {

    .project {
      flex-direction: column;
    }

  }

  .contact {
    flex-direction: column;
  }

}

@media (max-width: 600px) {
  .about {

    .circle:after {
      display: none;
    }

    .circleInner {
      position: static;
    }

    .circleContent p {
      text-align: left;
    }
    


  }

  .contact {

    .contactTitle p {
      font-size: 2rem;
    }

  }
}

@media (max-width: 450px) {
  
  .wrapper {
    padding: 0;
  }
  
  header {

    .mainNav {
      position: fixed;
      z-index: 90;
      border-radius: 50%;
      margin: 5px;
      opacity: 0.3;
      border: solid 3px $dark-grey;

      &:hover,
      &:focus-within {
        opacity: 1;
      }
      
    }

    .mainNav ul {
      justify-content: flex-end;
    }

    .mainNav .bars {
      display: block;
    }

    .mainNav .navListItem {
      display: none;
    }

    .name h1 {
      font-size: 3rem;
    }
    .name p {
      font-size: 2rem;
    }

  }

  .about {

    .circleContent h2 {
      font-size: 3rem;
    }

    .circleContent p {

      font-size: 1.6rem;

    }

  }

  .portfolio {

    h2 span {
      &::after {

        right: 15px;
      }
    }

    .projectLinks {
      flex-direction: column;
    }

    .projectLinks li {
      padding: 5px 10px;
    }
  }

  .skills {
    h2 span {
      &::after {
        left: 80px;
      }
    }
  }

  .contact {
    
    .contactTitle h2 {
      font-size: 3rem;
    }

    .contactTitle h2 span {

      &::before {
        border-top: 90px solid transparent;
        border-left: 90px solid $primary-light;
      }

      &::after {
        
        background-size: 50%;
        right: 15px;
      }

    }

    .contactTitle p {
      font-size: 1.6rem;
    }

    form input,
    form textarea {
      font-size: 1.6rem;
    }

  }
}