@media (max-width: 1080px) {
  header {

    .circleOne,
    .circleThree {
      top: -90px;
      right: -130px;
      width: 0px;
      height: 0px;
    }



  }


}

@media (max-width: 950px) {
  header {

    .circleTwo {
      width: 200px;
      height: 200px;
      top: 10px;
      right: 20px;
    }
  }

  .about {

    .circleContent {
      font-size: 1.6rem;
    }


  }
}

@media (max-width: 850px) {


  .about {

    

    .aboutContainer {
      flex-direction: column;
      align-items: stretch;
    }

    .aboutLeft {
      padding: 50px 0 10px 0;
    }

    .aboutImageContainer {
      width: 40vw;
    }

    .circleContent {
      font-size: 2rem;
    }
  }

  .portfolio {

    .project {
      flex-direction: column;
    }


  }
}

@media (max-width: 600px) {
  .about {

    .circle:after {
      display: none;
    }

    .circleInner {
      position: static;
    }

    .circleContent p {
      text-align: left;
    }
    


  }
}

@media (max-width: 450px) {
  header {

    .mainNav ul {
      justify-content: flex-end;
    }

    .mainNav .bars {
      display: block;
    }

    .mainNav .desktopItem {
      display: none;
    }

    .name h1 {
      font-size: 3rem;
    }
    .name p {
      font-size: 2rem;
    }

  }

  .about {

    .circleContent h2 {
      font-size: 3rem;
    }

    .circleContent p {

      font-size: 1.6rem;

    }

  }

  .portfolio {

    h2 span {
      &::after {

        right: 15px;
      }
    }

    .projectLinks {
      flex-direction: column;
    }

    .projectLinks li {
      padding: 5px 10px;
    }
  }
}