.portfolio {

  background: $secondary-light;

  h2 {
    text-align: center;
    padding: 60px 0;
  }

  h2 span {
    position: relative;
    z-index: 10;

    &::before {
      content: "";
      width: 0; 
      height: 0; 
      border-top: 100px solid transparent;
      border-left: 100px solid $primary-light;
      position: absolute;
      transform: rotate(270deg);
      top: -40px;
      right: -10px;
      z-index: -10;
    }

    &::after {
      display: block;
      content: "";
      background-image: url(../assets/icons8-squiggly-line-100-dark-grey.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 65%;
      position: absolute;
      transform: rotate(45deg);
      top: 0px;
      right: -60px;
      width: 100px;
      height: 100px;
    }


  }

  .project {
    display: flex;
    padding: 20px 0;
  }

  .projectLeft,
  .projectRight {
    flex: 1 1 50%;
  }

  .projectImgContainer {
    width: 400px;
    border: solid 5px $dark-grey;
    margin: 0 auto;
  }

  .projectText {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3vw;
  }

  .projectText p {
    width: 400px;
    line-height: 1.5;
    letter-spacing: -0.5px;
  }

  .projectText a {
    text-decoration: underline;
  }

  .projectLinks {
    display: flex;
  }

  .projectLinks li {
    padding: 10px;
  }

  .projectLinks a {
    text-decoration: underline $primary;
    text-transform: uppercase;
    padding: 10px;

    &:hover,
    &:focus {
      text-decoration-color: $highlight;
    }
  }

  .projectSkills {
    display: flex;
  }

  .projectSkills li {
    padding: 10px;
  }

  .projectSkills i {
    font-size: 3rem;
  }

  .projectSkills img {
    width: 3rem;
  }



}