.skills {

  h2 {
    padding: 60px 0;
    text-align: center;

  }

  h2 span {
    position: relative;

    &::before {
      content: "";
      width: 0; 
      height: 0; 
      border-top: 100px solid transparent;
      border-left: 100px solid $secondary;
      position: absolute;
      transform: rotate(180deg);
      top: -40px;
      right: -10px;
      z-index: -10;
    }

    &::after {
      display: block;
      content: "";
      background-image: url(../assets/icons8-squiggly-line-100-dark-grey.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 65%;
      position: absolute;
      transform: rotate(45deg);
      top: -70px;
      left: 110px;
      width: 100px;
      height: 100px;
    }


  }

  ul {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    // flex: 1 1 auto;
    flex: 1 1 20%;
    
  }

  .skill {
    width: 100px;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  p {
    color: dark-grey;
    font-size: 2rem;
    text-transform: uppercase;
  }
  
  .arrowContainer {
    padding: 10px 0;
  }

}