// FONTS
$heading-font: 'Spartan', sans-serif;
$main-font: 'Ubuntu', sans-serif;

// COLOURS
$mint: #A3D0CB;
$off-white: #DDE8E8;
$dark-grey: #3F3F48;
$grey: #718084;
$purple: #473672;

// PHOTOS

// TREE PHOTO
// <span>Photo by <a href="https://unsplash.com/@toddquackenbush?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Todd Quackenbush</a> on <a href="https://unsplash.com/s/photos/trees?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>

// COMPUTER PHOTO
// <span>Photo by <a href="https://unsplash.com/@agkdesign?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Alex Knight</a> on <a href="https://unsplash.com/s/photos/computer?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>

// TELEPHONE PHOTO
// <span>Photo by <a href="https://unsplash.com/@antoinebarres?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Antoine Barrès</a> on <a href="https://unsplash.com/s/photos/telephone?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>

// Icons

// <i class="fas fa-angle-double-down"></i>
// <i class="fas fa-bars"></i>
// <i class="fab fa-github"></i>
// <i class="fab fa-html5"></i>
// <i class="fab fa-css3-alt"></i>
// <i class="fab fa-npm"></i>
// <i class="fab fa-react"></i>
// <i class="fab fa-sass"></i>
// <i class="fas fa-terminal"></i>
// <i class="fab fa-twitter"></i>
// <i class="fas fa-database"></i>
// <i class="fab fa-js-square"></i>

// zig zag by Made by Made from the Noun Project
// https://thenounproject.com/term/zig-zag/924531/
// https://thenounproject.com/

// Accessibility by mikicon from the Noun Project
// https://thenounproject.com/search/?q=accessibility&i=975764

// jquery by Alexander Zharikov from the Noun Project
// https://thenounproject.com/search/?q=jQuery&i=414778

// GIS - Public Domain
// https://thenounproject.com/search/?q=GIS&i=14294