// FONTS
$heading-font: 'Spartan', sans-serif;
$main-font: 'Ubuntu', sans-serif;

// COLOURS
$primary: #05B6C3;
$primary-light: #40BEC8;
$secondary: #C4FBFF;
$secondary-light: #D0F2F4;
$highlight: #ef4c0a;
$dark-grey: #3F3F48;
$light-grey: #909090;

// TRIANGLES 

@mixin triangle {
  content: "";
  width: 0; 
  height: 0; 
  position: absolute;
}

// SQUIGGLY LINES

@mixin squiggle {
  display: block;
  content: "";
  background-image: url(../assets/icons8-squiggly-line-100-dark-grey.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 65%;
  position: absolute;
  transform: rotate(45deg);
  width: 100px;
  height: 100px;
}

// Icons

// <i class="fas fa-angle-double-down"></i>
// <i class="fas fa-bars"></i>
// <i class="fab fa-twitter"></i>
// <i class="fab fa-github"></i>
// <i class="fab fa-medium"></i>

// <i class="fab fa-html5"></i>
// <i class="fab fa-css3-alt"></i>
// <i class="fab fa-npm"></i>
// <i class="fab fa-react"></i>
// <i class="fab fa-sass"></i>
// <i class="fas fa-terminal"></i>

// <i class="fas fa-database"></i>
// <i class="fab fa-js-square"></i>


// Squiggly Line
// <img src="https://img.icons8.com/ios-filled/100/000000/squiggly-line.png"/>
// <a href="https://icons8.com/icon/118610/squiggly-line">Squiggly Line icon by Icons8</a>

// HTML
// <img src="https://img.icons8.com/color/96/000000/html-5.png"/>
// <a href="https://icons8.com/icon/20909/html-5">Html 5 icon by Icons8</a>

// CSS
// <img src="https://img.icons8.com/color/96/000000/css3.png"/>
// <a href="https://icons8.com/icon/21278/css3">CSS3 icon by Icons8</a>

// JS
// <img src="https://img.icons8.com/color/96/000000/javascript.png"/>
// <a href="https://icons8.com/icon/108784/javascript">JavaScript icon by Icons8</a>

// jquery Icon
// <a href="https://icons8.com/icon/40253/jquery">JQuery icon by Icons8</a>

// Sass
// <img src="https://img.icons8.com/color/96/000000/sass-avatar.png"/>
// <a href="https://icons8.com/icon/vEiU8UeAmv0x/sass-avatar">Sass Avatar icon by Icons8</a>

// Accessibility Icon
// <a href="https://icons8.com/icon/23620/web-accessibility">Web Accessibility icon by Icons8</a>

// Firebase
// <img src="https://img.icons8.com/color/96/000000/firebase.png"/>
// <a href="https://icons8.com/icon/62452/firebase">Firebase icon by Icons8</a>

// React
// <img src="https://img.icons8.com/officel/80/000000/react.png"/>
// <a href="https://icons8.com/icon/wPohyHO_qO1a/react">React icon by Icons8</a>

// NPM
// <img src="https://img.icons8.com/color/96/000000/npm.png"/>
// <a href="https://icons8.com/icon/24895/npm">NPM icon by Icons8</a>

// gitHub
// <img src="https://img.icons8.com/nolan/96/github.png"/>
// <a href="https://icons8.com/icon/52539/github">GitHub icon by Icons8</a>

// Terminal
// <img src="https://img.icons8.com/officel/80/000000/console.png"/>
// <a href="https://icons8.com/icon/nuPce-GYYZeC/console">Console icon by Icons8</a>

// GIS
// <img src="https://img.icons8.com/office/80/000000/layers.png"/>
// <a href="https://icons8.com/icon/30566/layers">Layers icon by Icons8</a>